.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.dropdown_container {
  background-color: lightcoral;
  border-radius: 20px;
  padding: 20px;
}
